name: First Workflow

on:
  push:
    branches:
      - main

jobs:
  example-job:
    runs-on: [self-hosted, Windows, X64]

    steps:
      - name: Print a welcome message
        shell: powershell
        run: Write-Output "Welcome to our first GitHub Actions Workflow!"

